<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <%= link_to topic.name, topic %>
            <% if user_is_authorized_for_topics? %>
                <div class="button-group edit-delete-topic">
                    <%= link_to "", edit_topic_path(topic), class: "glyphicon glyphicon-edit glyphicon-topic", title: "edit topic" %>
                    <% if current_user.admin? %>
                        <%= link_to "", topic, method: :delete, class: "glyphicon glyphicon-trash glyphicon-topic", title: "delete topic", data: { confirm: "Are you sure you want to delete this topic?"} %>
                    <% end %>
                </div>
            <% end %>
        </h4>
        <small>
            <%= topic.description %>
        </small>
    </div>
</div>