<h1>Advertisements #<%= @advertisement.id %></h1>
<br />
<p>Title: <%= @advertisement.title %></p>
<p>Body: <%= @advertisement.body %></p>
<p>Price: $<%= @advertisement.price.to_s.concat(".00") %></p>