<h1>About</h1>
<p>This online Reddit clone is a 32-point lesson.<br>It incorporates TDD (test driven development) and BDD (behavior driven development) to build and maintain this online application it's been quite the adventure getting used to the in's and out's of Ruby on Rails</p>
